body{

font-family:Arial;
margin:0;
background:#f4f4f4;

}

header{

background:#003366;
color:white;
text-align:center;
padding:20px;

}

nav{

background:#ffcc00;
padding:10px;
text-align:center;

}

nav a{

margin:15px;
text-decoration:none;
color:black;
font-weight:bold;

}

section{

background:white;
margin:20px;
padding:40px;
border-radius:10px;
text-align:center;

}

.hero img{

width:100%;
max-height:400px;
object-fit:cover;

}

section img{

width:100%;
max-width:500px;
border-radius:10px;

}

h2{

color:#003366;

}

.btn{

display:inline-block;
background:#28a745;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:5px;
margin-top:15px;

}

footer{

background:#003366;
color:white;
text-align:center;
padding:20px;

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;

}