*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;
background:#f4f4f4;
line-height:1.6;

}

.container{

width:90%;
max-width:1100px;
margin:auto;
}

header{

background:#003366;
color:white;
padding:20px;
text-align:center;

}
header p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    font-size: 18px;
}
nav{

background:#ffcc00;
padding:10px;
text-align:center;

}

nav a{

margin:10px;
text-decoration:none;
color:black;
font-weight:bold;

}

.hero{

padding:50px 0;
background:white;

}

.hero-grid{

display: grid;
grid-template-columns:1fr 1fr;
gap:30px;
align-items:center;

}

.hero img{

width:100%;
border-radius:10px;
align-items: center;

}

#about {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    font-size: 18px;
}

#about img{
    width: 100%;

}

#lic{
    font-size: large;
}


#lic img{
    width: 100%;
}
#health{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
    font-size: 18px;
}
#health img{
    width: 100%;
}
.cards{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:40px 0;

}

.card{

background:white;
padding:20px;
border-radius:10px;
text-align:center;

}

section a{
    text-decoration: none;
    font-size: 2rem;
    color:black;
}

section a:hover{
    color:brown;


}
.card img{

width:100%;
border-radius:10px;

}

.btn{

display:inline-block;
background:#28a745;
color:white;
padding:12px 20px;
margin-top:15px;
text-decoration:none;
border-radius:5px;

}

footer{

background:#003366;
color:white;
text-align:center;
padding:20px;

}
.instagram{
    margin-top:20px ;
    width: 100%;
    padding:10px;
    border-radius: 50px;
    background-color: #ffcc00;
    color:black;
}

.whatsapp{

position:fixed;
bottom:.4rem;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;

}


/* mobile responsive */

@media(max-width:768px){

.hero-grid{

grid-template-columns:1fr;

}

.about-grid{

grid-template-columns:1fr;

}

.cards{

grid-template-columns:1fr;

}

}